<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <link rel="stylesheet" href="arrowup/arrowstyle.css" /> -->

    <link rel="stylesheet" href="/stylesheets/cssContact.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <title>AGSD COMBAT</title>
</head>

<body>

    <div class="container">

        <header>
            <!-- BANNER -->
            <div class="row" id="banner-background">
                <!-- TITLE -->
                <div class="title">
                    <h1>AGSD COMBAT Saint-Denis (93)</h1>
                    <br>
                    <h3 class="sousTilte">
                        Sports de combats pour les adultes et les enfants à partir de 3 ans sur la
                        ville de Saint-Denis 93200
                    </h3>
                </div>
            </div>

            <!-- MENU -->
            <div class="row">
                <nav>
                    <ul>
                        <li><a href="/"><b>ACCUEIL</b></a></i></a>
                        <li><a href="./horaires"><b>HORAIRES</b></a></li>

                        <li class="deroulant"><a href="#"><b>ADULTES &ensp;</b></a>
                            <ul class="sous">
                                    <li><a href="/users/ladyBoxing"><b>Lady Boxing </b></a></li>
                                    <li><a href="/users/mma"><b>MMA</b></a></li>
                                    <li><a href="/users/judo"><b>Judo</b></a></li>
                                    <li><a href="/users/jjb"><b>JJB</b></a></li>
                                    <li><a href="/users/boxe"><b>Muay Thaï</b></a></li>
                            </ul>
                        </li>

                        <li class="deroulant"><a href="#"><b>ENFANTS &ensp;</b></a>
                            <ul class="sous">
                                <li><a href="./ladyBoxing"><b>?????</b></a></li>
                                <li><a href="./mma"><b>???</b></a></li>
                            </ul>
                        </li>
                        <li><a href="./tarifs"><b>TARIFS</b></a></li>
                        <li><a href="./inscription"><b>INSCRIPTION</b></a></li>
                        <li><a href="./contact"><b>CONTACT</b></a></li>
                        <li><a href="/users/register"><b>COMPTE</b></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="contact">
            <h1><b>Nous contacter</b></h1>
        </div>
        <br>
        <div class="tel">
            <p class="margContact">
                <b>Tél</b> : 06 15 37 71 51 (Professeur, responsable de la section)
            </p>
            <br>
            <p>
                <b>Tél</b> : 01 48 26 39 11 (Secrétariat)
            </p>
            <br>

            <!-- SIGN UP AREA -->
            <div class="form">

                <div class="tab-content">
                    <div id="signup">
                        <h1>Nous contacter</h1>

                        <!-- SIGN UP AREA -->
                        <form action="/users/sign-up" method="post">

                            <div class="top-row">
                                <div class="field-wrap">
                                    <label>
                                            Nom<span class="req">*</span>
                                    </label>
                                    <input id="lastName" name="lastNameFromFront" type="text" required autocomplete="off" />
                                </div>

                                <div class="field-wrap">
                                    <label>
                                            Prenom<span class="req">*</span>
                                    </label>
                                    <input id="firstName" name="firstNameFront" type="text" required autocomplete="off" />
                                </div>
                            </div>

                            <div class="field-wrap">
                                <label>
                                        Email<span class="req">*</span>
                                </label>
                                <input id="mail" name="emailFromFront" type="email" style="width:250px " required autocomplete="off" />
                            </div>

                            <div class="field-wrap">
                                <!-- Message<span class="req">*</span> -->
                                    <!-- <label  for="msg">
                                    </label> -->
                                <textarea id="msg" name="messageFromFront" style="width: 520px" placeholder="Message" ></textarea>
                            </div>
                            <button type="submit" class="button button-block" />Envoyer</button>
                        </form>

                    </div>

                    <!-- Si j'enleve ça supprime le form -->
                    <div id="login">

                    </div>

                </div><!-- tab-content -->

            </div> <!-- /form -->




            <!-- Ancien form contact -->

            <!-- 
            <form action="/" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            Nom<span class="req">*</span>
                        </label>
                        <input name="nameFromFront" type="text" required autocomplete="off" />
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        Email<span class="req">*</span>
                    </label>
                    <input name="emailFromFront" type="email" required autocomplete="off" />
                </div>
                <div class="field-wrap" >
                    <label for="msg"><b>Message</b> :</label><br>
                    <textarea id="msg" cols="30" rows="10" name="msg"></textarea>

                     <button type="submit" class="button button-block"/>Envoyer</button>
                </div>
            </form>
        </div> -->



            <br>
            <!-- ACCES ET TRANSPORTS 
        Insertion GOOGLE MAP-->
            <div class="contact">
                <div>
                    <h2><b>ACCÈS</b></h2>
                    <br>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10481.93701492468!2d2.3578978!3d48.9442644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4458276ecba1ccd!2sAGSD%20COMBAT%20Saint-Denis%2C%20Judo%2C%20Jiu-Jitsu%20Br%C3%A9silien%20(JJB)%2C%20Boxe%2C%20Mixed%20Martial%20Arts%20(MMA)!5e0!3m2!1sfr!2sfr!4v1567687487443!5m2!1sfr!2sfr"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>

            </div>

            <br>

            <div class="contact">
                <ul>
                    <h2><b>TRANSPORTS</b></h2>
                    <br>
                    <li><B>Métro</B> : Ligne 13 – station « Saint-Denis Université »</li>
                    <li><B>Bus</B> :Lignes 256 – 356 – station « Général Leclerc »</li>
                    <li><B>Tram</B> :Lignes T5 – station « Roger Sémat »</li>
                </ul>

            </div>
            <br>


            <!-- FOOTER -->
            <footer>
                <div class="wrapper ">
                    <!-- Icons reseaux sociaux -->
                    <div class="social-btns"><a class="btn facebook"
                            href="https://www.facebook.com/agsdcombat/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
                        <a class="btn twitter" href="https://twitter.com/CombatAgsd"><i class="fa fa-twitter"></i></a>
                        <a class="btn google" href="https://g.page/agsdcombat?share"><i class="fa fa-google"></i></a>
                        <a class="btn insta" href="https://www.instagram.com/agsdcombat/"><i
                                class="fa fa-instagram"></i></a>
                    </div>
                </div>
        </div>
        </footer>

    </div>
    <!-- boutton scroll -->
    <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    //    $('form').on('submit', (e)=>{
    //        //console.log('§§§',e)
    //        e.preventDefault();

    //        const name = $('#name').val().trim();
    //        const email = $('#mail').val().trim();
    //        const message = $('#msg').val().trim();

    //        const data = {
    //            name,
    //            email,
    //            message
    //        };

    //        console.log('<<<<dATA', data);

    //        $.post('/mail', data, function(){
    //            console.log('Server received our data');
    //        });

    //    });
    </script>
    <script src="/javascripts/scrypt.js"></script>
</body>

</html>