<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <link rel="stylesheet" href="arrowup/arrowstyle.css" /> -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <title>AGSD COMBAT</title>
</head>

<body>

    <div class="container">

        <div class="row">

            <div class="typeAffichaf col-12">
               
                    <!-- BANNER -->
                    <div class="row " id="banner-background">
                        <!-- TITLE -->
                        <div class="title my-4 justify-content-center ">
                            <div>
                                <h1>AGSD COMBAT Saint-Denis (93)</h1>
                            </div>
                            <br>
                            <div class="sousTitle">
                                <h3>Sports de combats pour les adultes et les enfants à partir de 3 ans sur la ville de Saint-Denis 93200</h3>
                            </div>
                        </div>
                    </div>

                    <!-- MENU -->
                    <div class="row ">
                        <nav>
                            <ul>
                                <li><a href="/"><b>ACCUEIL</b></a></i></a>
                                <li><a href="./horaires"><b>HORAIRES</b></a></li>

                                <li class="deroulant"><a href="#"><b>ADULTES &ensp;</b></a>
                                    <ul class="sous">
                                        <li><a href="/users/ladyBoxing"><b>Lady Boxing </b></a></li>
                                        <li><a href="/users/mma"><b>MMA</b></a></li>
                                        <li><a href="/users/judo"><b>Judo</b></a></li>
                                        <li><a href="/users/jjb"><b>JJB</b></a></li>
                                        <li><a href="/users/boxe"><b>Muay Thaï</b></a></li>
                                    </ul>
                                </li>

                                <li class="deroulant"><a href="#"><b>ENFANTS &ensp;</b></a>
                                    <ul class="sous">
                                        <li><a href="./ladyBoxing"><b>?????</b></a></li>
                                        <li><a href="./mma"><b>???</b></a></li>
                                    </ul>
                                </li>
                                <li><a href="./tarifs"><b>TARIFS</b></a></li>
                                <li><a href="./inscription"><b>INSCRIPTION</b></a></li>
                                <li><a href="./contact"><b>CONTACT</b></a></li>
                                <li><a href="/users/register"><b>COMPTE</b></a></li>
                            </ul>
                        </nav>
                    </div>


                <div class="row">

                    <div class="title2">
                        <h1>AGSD COMBAT Saint-Denis 93200 : Mixed Martial Arts (MMA), Judo, Jiu Jitsu Brésilien (JJB),
                            Grappling, Boxe Muay Thaï et Lady Boxing à Saint-Denis</h1>
                    </div>

                    <br>

                    <div class="para ">
                        <p>
                            Femmes et Hommes de tous âges. 
                            <br>
                            Pratiquer en loisir le MMA, Judo, JiuJitsu Brésilien, Grappling ou de la Boxe, c'est
                            apprendre les
                            rudiments et se perfectionné dans tous les domaines que ce soit technique, tactique,
                            physique et
                            mental. 
                            <br>
                            Il n'y a pas de compétition, le but est de pratiquer un sport de combat dans la bonne
                            humeur, sans
                            intention de faire mal.
                            <br>
                            <br>
                            Les entraînements sont intensifs et complets : des séances axées sur la technique et à la préparation physique.
                            <br>
                            Il y a meme des cours dédié exclusivement aux femmes comme le Lady Boxing.
                        </p>
                        <br>
                        <p>
                            Le club est facilement accessible pour ceux qui habitent ces villes : Paris, Franc-moisin,
                            Stains,
                            Aubervilliers, Saint-Ouen ,Pierrefitte, La Courneuve, Epinay sur seine.
                        </p>
                    </div>
                </div>

                <br>

                <!-- Video Presentation -->
                <div class="acces-transports ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wp5qwst4EGY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>

                <br>
                <!-- ACCES ET TRANSPORTS 
                Insertion GOOGLE MAP-->
                <div class="acces-transports">
                    <div>
                        <h2>ACCÈS</h2>
                        <br>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10481.93701492468!2d2.3578978!3d48.9442644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4458276ecba1ccd!2sAGSD%20COMBAT%20Saint-Denis%2C%20Judo%2C%20Jiu-Jitsu%20Br%C3%A9silien%20(JJB)%2C%20Boxe%2C%20Mixed%20Martial%20Arts%20(MMA)!5e0!3m2!1sfr!2sfr!4v1567687487443!5m2!1sfr!2sfr"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                        </iframe>
                    </div>

                </div>
                <!-- FOOTER -->
                <footer>
                    <div class="wrapper ">
                        <!-- Icons reseaux sociaux -->
                        <div class="social-btns"><a class="btn facebook"
                                href="https://www.facebook.com/agsdcombat/?ref=bookmarks"><i
                                    class="fa fa-facebook"></i></a>
                            <a class="btn twitter" href="https://twitter.com/CombatAgsd"><i
                                    class="fa fa-twitter"></i></a>
                            <a class="btn google" href="https://g.page/agsdcombat?share"><i
                                    class="fa fa-google"></i></a>
                            <a class="btn insta" href="https://www.instagram.com/agsdcombat/"><i
                                    class="fa fa-instagram"></i></a>
                            <a class="btn youtube" href="https://www.youtube.com/channel/UCDUTivMSGwXPmzMIGMwgWUA"><i
                                    class="fa fa-youtube"></i></a>
                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </div>



    <!-- boutton scroll -->
    <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>
    </div>

    <script src="/javascripts/scrypt.js"></script>
</body>

</html>