<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <link rel="stylesheet" href="arrowup/arrowstyle.css" /> -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <title>AGSD COMBAT</title>
</head>

<body>

    <div class="container">

        <header>
            <!-- BANNER -->
            <div class="row" id="banner-background">
                <!-- TITLE -->
                <div class="title">
                    <h1>AGSD COMBAT Saint-Denis (93)</h1>
                    <br>
                    <h3 class="sousTilte">Sports de combats pour les adultes et les enfants à partir de 3 ans sur la
                        ville de Saint-Denis 93200</h3>
                </div>
            </div>

            <!-- MENU -->
            <div class="row">
                <nav>
                    <ul>
                        <li><a href="/"><b>ACCUEIL</b></a></i></a>
                        <li><a href="./horaires"><b>HORAIRES</b></a></li>

                        <li class="deroulant"><a href="#"><b>ADULTES &ensp;</b></a>
                            <ul class="sous">
                                    <li><a href="/users/ladyBoxing"><b>Lady Boxing </b></a></li>
                                    <li><a href="/users/mma"><b>MMA</b></a></li>
                                    <li><a href="/users/judo"><b>Judo</b></a></li>
                                    <li><a href="/users/jjb"><b>JJB</b></a></li>
                                    <li><a href="/users/boxe"><b>Muay Thaï</b></a></li>
                            </ul>
                        </li>

                        <li class="deroulant"><a href="#"><b>ENFANTS &ensp;</b></a>
                            <ul class="sous">
                                <li><a href="./ladyBoxing"><b>?????</b></a></li>
                                <li><a href="./mma"><b>???</b></a></li>
                            </ul>
                        </li>
                        <li><a href="./tarifs"><b>TARIFS</b></a></li>
                        <li><a href="./inscription"><b>INSCRIPTION</b></a></li>
                        <li><a href="./contact"><b>CONTACT</b></a></li>
                        <li><a href="/users/register"><b>COMPTE</b></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="para">
            <h1>Comment s’abonner ?</h1>

            <br>

            <p>
                <p>
                    <img src="/images/icons8-inscription-50.png">
                    Pour vous inscrire rien de plus simple, il vous suffit de télécharger et de remplir la feuille
                    d’inscription et y joindre :
                </p>
                <br>
                <p>
                    1- Pour commencer nous vous demanderons de remplir ou de télécharger
                    <a href="http://www.agsd./stylesheets/style.cssfr/images/content/inscription/preinscription.pdf"
                        style="color: red">le
                        formulaire
                        d’inscription</a>
                    et <a href="http://www.agsd.fr/images/content/inscription/assurance.pdf" style="color: red">la
                        feuille d’assurance</a>
                    au format PDF ou l’imprimer et l’apporter. (Le formulaire est également
                    disponible à la salle, vous pouvez donc le remplir sur place).
                </p>
                <br>
                <p>
                    2- Pour finaliser l’inscription vous pouvez télécharger et vous munir du <a
                        href="/images/certif.jpg" style="color: red">certificat médical</a> de non
                    contre-indication « à la pratique du sport en compétition ».
                </p>
                <br>
                <p>
                    3- Un chèque à l’ordre de « Avant Garde Saint-Denis ».

                    Vous pouvez envoyer votre dossier complet à l’adresse ci-dessous ou le remettre directement au
                    bureau (
                    Avant Garde Saint-Denis , 4 av de Stalingrad, Saint-Denis 93200 ).
                </p>
                <br>
                <p>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #e33028"></i>
                    Seuls les dossiers complets seront enregistrés.
                </p>
                <br>
                <p>
                    Vous pourrez alors régler votre abonnement par carte bancaire, chèque ou espèces.
                </p>
                <br>
                <p>
                    Mais attention, aucune inscription ne sera acceptée par courrier !
                </p>
                <br>
                <p>
                    Vous avez la possibilité de payer en plusieurs fois.
                </p>
                <br>
                <p>
                    L’ensemble des chèques doit être remis lors de l’inscription.
                </p>
                <br>
                <p>
                    Vous devez impérativement vous déplacer au secrétariat pour valider votre inscription.
                </p>
                <br>
                <p>
                    Merci de votre compréhension.
                </p>
        </div>
        <br>



        <!-- FOOTER -->
        <footer>
            <div class="wrapper ">
                <!-- Icons reseaux sociaux -->
                <div class="social-btns"><a class="btn facebook"
                        href="https://www.facebook.com/agsdcombat/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
                    <a class="btn twitter" href="https://twitter.com/CombatAgsd"><i class="fa fa-twitter"></i></a>
                    <a class="btn google" href="https://g.page/agsdcombat?share"><i class="fa fa-google"></i></a>
                    <a class="btn insta" href="https://www.instagram.com/agsdcombat/"><i
                            class="fa fa-instagram"></i></a>
                </div>
            </div>
    </div>
    </footer>
    <!-- boutton scroll -->
    <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>

    <script src="/javascripts/scrypt.js"></script>
</body>

</html>