<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <link rel="stylesheet" href="arrowup/arrowstyle.css" /> -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <title>AGSD COMBAT</title>
</head>

<body>

    <div class="container">

        <header>
            <!-- BANNER -->
            <div class="row" id="banner-background">
                <!-- TITLE -->
                <div class="title">
                    <h1>AGSD COMBAT Saint-Denis (93)</h1>
                    <br>
                    <h3 class="sousTilte">Sports de combats pour les adultes et les enfants à partir de 3 ans sur la
                        ville de Saint-Denis 93200</h3>
                </div>
            </div>

            <!-- MENU -->
            <div class="row">
                <nav>
                    <ul>
                        <li><a href="/"><b>ACCUEIL</b></a></i></a>
                        <li><a href="./horaires"><b>HORAIRES</b></a></li>

                        <li class="deroulant"><a href="#"><b>ADULTES &ensp;</b></a>
                            <ul class="sous">
                                    <li><a href="/users/ladyBoxing"><b>Lady Boxing </b></a></li>
                                    <li><a href="/users/mma"><b>MMA</b></a></li>
                                    <li><a href="/users/judo"><b>Judo</b></a></li>
                                    <li><a href="/users/jjb"><b>JJB</b></a></li>
                                    <li><a href="/users/boxe"><b>Muay Thaï</b></a></li>
                            </ul>
                        </li>

                        <li class="deroulant"><a href="#"><b>ENFANTS &ensp;</b></a>
                            <ul class="sous">
                                <li><a href="./ladyBoxing"><b>?????</b></a></li>
                                <li><a href="./mma"><b>???</b></a></li>
                            </ul>
                        </li>
                        <li><a href="./tarifs"><b>TARIFS</b></a></li>
                        <li><a href="./inscription"><b>INSCRIPTION</b></a></li>
                        <li><a href="./contact"><b>CONTACT</b></a></li>
                        <li><a href="/users/register"><b>COMPTE</b></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="title3">
            <h1>Lady Boxing à Saint-Denis (93) (cours féminin)</h1>
            <br>
            <br>
            <div>
                <p>
                    <p>Le Lady Boxing, réservé aux femmes est une discipline adaptée des sports de combat,</p>

                    <p>
                        parfaite pour celles qui souhaitent se dépenser, maîtriser son corps et apprendre un sport en
                        toute sécurité.
                    </p>

                    <p>
                        A Saint-Denis, le lady boxing est une séance de cardio-training en musique visant à améliorer
                        son endurance <br>
                        en utilisant la gestuelle et les enchainements de boxe.
                    </p>

                    <p>
                        Le renforcement musculaire suivi de stretching permettent un travail complet sur le corps afin
                        d’affiner et de tonifier sa silhouette
                    </p>
                </p>
            </div>
        </div>
        <br>
        <br>
        <h2 style="color: #dc0109">Horaires</h2>
        <br>
            <p><span>Mercredi :</span>19h00/20h00</p>
            <br>
            <p><span>Vendredi :</span>19h00/20h0</p>
            <!-- <img src="/images/planingAdultes.jpg" alt=""> -->
       

        <br>
        <h2 style="color: #dc0109">Tarifs et Formule</h2>
        <br>
        <div class="planing">
            <img src="/images/ladyboxing.JPG" alt="">
        </div>
        <br>


        <!-- FOOTER -->
        <footer>
            <div class="wrapper ">
                <!-- Icons reseaux sociaux -->
                <div class="social-btns"><a class="btn facebook"
                        href="https://www.facebook.com/agsdcombat/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
                    <a class="btn twitter" href="https://twitter.com/CombatAgsd"><i class="fa fa-twitter"></i></a>
                    <a class="btn google" href="https://g.page/agsdcombat?share"><i class="fa fa-google"></i></a>
                    <a class="btn insta" href="https://www.instagram.com/agsdcombat/"><i
                            class="fa fa-instagram"></i></a>
                </div>
            </div>
    </div>
    </footer>

    </div>

    <!-- boutton scroll -->
    <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>

    <script src="/javascripts/scrypt.js"></script>
</body>

</html>